* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

button {
  font-size: 0.75rem;
  cursor: pointer;
}

.root {
  display: flex;
  align-items: stretch;
}

/* Layout */
.leftbar {
  flex: 0 0 250px;
  min-height: 100%;
}

.mainbar {
  flex: 1;
}

/* Leftbar */
.leftbar {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-block: 32px;
}

@media (max-width: 640px) {
  .leftbar {
    display: none;
  }
}

/* Mainbar */
.mainbar {
  margin-inline: 16px;
}

/* Main header */
.main-header {
  padding-block: 16px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.brand {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(215, 76, 67);
}

/* mobile leftbar */
.leftbar-button {
  display: none;
}

@media (max-width: 640px) {
  .leftbar-button {
    display: block;
  }
}

.leftbar-mobile {
  background-color: #ffefe5;
  border-right: none;
  position: absolute;
  left: 0;
  min-width: 250px;
}

@media (max-width: 640px) {
  .leftbar-mobile {
    display: block;
  }
}

/* Nav */
.nav {
  display: flex;
  flex-direction: column;
  margin-inline: 16px;
}

.nav-item {
  padding: 4px 8px;
  border-radius: 4px;
  list-style: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item.active {
  background-color: #ffefe5;
}

.nav-item-actions {
  display: flex;
  gap: 4px;
  visibility: hidden;
}

@media (max-width: 640px) {
  .nav-item-actions {
    visibility: visible;
  }
}

.nav-item:hover .nav-item-actions {
  visibility: visible;
}

/* task */
.task-list-section {
  padding-block: 16px;
  margin-block: 16px;
}

.task-item {
  margin-inline: 8px;
  padding-block: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  gap: 16px;
}

.task-check > input {
  margin-top: 4px;
}

.task-body {
  margin-right: auto;
}

.task-item[data-iscompleted='true'] .task-title {
  text-decoration: line-through;
}

.task-item[data-iscompleted='false'] .task-title {
  text-decoration: none;
}

.task-item-actions {
  visibility: hidden;
  display: flex;
  gap: 8px;
}

@media (max-width: 640px) {
  .task-item-actions {
    visibility: visible;
  }
}

.task-item:hover .task-item-actions {
  visibility: visible;
}

.task-item-edit-button {
  cursor: pointer;
  padding-inline: 8px;
}

.mainbar > .title {
  font-size: 2.5rem;
  font-weight: bold;
}

.task-empty {
  margin-block: 18px;
  color: rgba(0, 0, 0, 0.5);
}

/* Add task Component */

.add-task-form {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 100%;
}

.add-task-form input {
  width: 100%;
}

.add-task-form-footer {
  display: flex;
  gap: 8px;
}

.add-task-project-options {
  margin-right: auto;
}

.add-task-save-button,
.add-task-cancel-button {
  padding-inline: 8px;
}

.add-task-button {
  width: 100%;
  cursor: pointer;
}

.add-task-title-label {
  visibility: hidden;
  display: block;
  height: 0px;
}

.add-task-title-input {
  display: block;
  border: none;
  outline: none;
  margin-bottom: 8px;
  font-weight: 600;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  display: block;
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 700;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-control input {
  padding: 2px 8px;
}

.project-form {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.project-list-header {
  display: block;
  width: calc(100% - 32px);
  margin-inline: 16px;
  display: flex;
  margin-bottom: 8px;
}

.project-list-header-title {
  margin-right: auto;
  font-size: 1.25rem;
  padding-inline: 8px;
}

.add-project-button {
  padding-inline: 8px;
  cursor: pointer;
}
